<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Ch1Servlet</servlet-name>
        <servlet-class>ch1.Ch1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ch2Servlet</servlet-name>
        <servlet-class>ch2.Ch2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ch1Servlet</servlet-name>
        <url-pattern>/Ch1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ch2Servlet</servlet-name>
        <url-pattern>/Ch2Servlet</url-pattern>
    </servlet-mapping>
</web-app>
